body, h1 * {
  
  margin: 0;
  font-family: -apple-system, "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: #0F2027;  /* fallback for old browsers */
    background:
    linear-gradient(rgb(0, 0, 0) 50%, rgba(21, 23, 26, 0.337)),
    url(https://grainy-gradients.vercel.app/noise.svg);
    
    display: flex;
  text-align: center;
  flex-direction: column;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  
}

h1 {
  text-transform: capitalize;
}

  .container {
    min-height: 150vh;
  }

    .twitlogo {
      margin-top: 4vh;
      filter: brightness(1000%);
    }

.mainForm {
  /* margin: auto auto auto auto ; */
  display: flex;
  flex-direction: column;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
}

.mainForm textarea {
  
  background-color: #000000;
  color: white;
  resize: none;
  min-width: 30vw;
  min-height: 16vh;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
  border: 2px solid;
  border-color: #474747; /*faded text color*/
    outline: none; 
  font-family: inherit;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/* button you press for improved tweet */
.mainButton {
  
  min-width: 30vw;
  padding: 1em 16em;  
  font-family: inherit;
  font-size: inherit;
  border-radius: 20px;
  font-size: inherit;
  border: 0px solid; 
  outline: none;
  background-color: #1DA1F2;
  color: rgb(231, 233, 234);
  margin-top: 4vh;
  cursor: pointer;
  text-transform: uppercase;
/* hover animation */
  animation-name: hover2;
  animation-duration: 0.4s;
  animation-fill-mode:forwards;
}

/* response body and box */
.response {
  display: flex;
  max-width: 30vw;
  min-height: 2vw;
  margin: 0 auto;
  margin-top: 2em;
  justify-content: center;
  align-items: center; /*centers items on the cross-axis (y by default)*/
  text-align: left;
  border-radius: 1rem;
  border: 2px solid;
  background-color: black;
  padding: 0.5rem;
  border-color: #00000000;
  border-color: #474747;
}

.response>p {
  color: #ffffff;
}

.mainButton:hover {
  /* position: relative; */
  animation-name: hover;
  animation-duration: 0.5s;
  animation-fill-mode:forwards;
  font-size: 16px;
}

@keyframes hover2 {
  from {background-color: #1c95e07a;}
  to {background-color: #1da0f2ae;}
}

@keyframes hover {
  from {background-color: #1da0f2ae;}
  to {background-color: #1c95e07a;}
}

span {
  color:#474747;
  font-family: inherit;
  font-size: inherit;
  
}

/* mobile responsive sizing */
@media screen and (max-width: 768px) {
  .mainButton {
    padding: 1em 9em;
  } 
  .mainForm textarea, .response {
    min-height: 25vh;
    min-width: 70vw;  
  }
}
