body, h2 * {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow:hidden; 
}

.App {
  text-align: center;
  background-image: linear-gradient(180deg,rgb(27, 100, 108), rgb(0, 62, 170)  );
  height:150vh;
  color: white;
  display: flex;
  margin: 0;
}

.container {
  padding-top: 100px;
  width: 100%;
}

h1 {
  font-size: 50px;
}

.primaryColor {
  color: #504dff;
}

.secondaryColor {
  color: rgb(65, 107, 184);
}

.mainForm {
  margin: 2% auto auto 20%;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: left; /*centers items on the cross-axis (y by default)*/
  flex-direction: column;
}

.mainForm input, textarea {
  
  display:flex;  
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: left; /*centers items on the cross-axis (y by default)*/
  width: 250px;
  height: 200px;
  padding: 10px 10px;
  border-radius: 20px;
  border: 1px solid white;
  outline: none; 
  font-family: inherit;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainButton {
  
  width: 290px;
  padding: 10px 20px 10px 10px;
  font-family: inherit;
  font-size: inherit;
  border-radius: 20px;
  font-size: 1rem;
  border: 1px solid #0077ff;
  outline: none;
  background-color: #0077ff;
  color: white;
  font-weight: 900;
  margin-top: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.mainButton:hover {
  background-color: #55a5ff;
  position: relative;
  motion-offset:20px ;
}

.response {
  max-width: 600px;
  margin-left: 700px;
  margin-top: -310px;
  text-align: left;
  padding: 10px 40px 10px 10px;
  font-size: inherit;
  display: block;
}

